/* Index page */

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  height: 90vh;
  background-image: url("../images/Stranger-Things-Season-5-Banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 10px;
}

.nav-section h2 {
  transition: all 0.3s ease;
  color: red;
  transition: all 0.3s ease;
}
.nav-section h2:hover {
  transform: scale(1.1);
}

.nav-section nav a {
  text-decoration: none;
  color: lightgrey;
  padding: 5px;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.nav-section nav a:hover {
  color: whitesmoke;
  transform: scale(1.1);
}
.hero-content {
  height: 50px;
  width: 40%;
  padding: 40px;
  position: absolute;
  top: 45vh;
  left: 30vh;
}
.hero-content h1 {
  font-weight: 900;
}
.hero-content p {
  margin-top: 3px;
  padding: 4px;
  font-size: medium;
}

.hero-content button {
  margin-top: 10px;
  padding: 8px 19px;
  border: none;
  color: black;
  background-color: rgb(246, 244, 244);
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.hero-content button:hover {
  background-color: white;
}

.hero-content .info-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 19px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(135, 135, 135);
  border-radius: 3px;
}
.hero-content .info-btn:hover {
  background-color: rgb(68, 68, 68);
}

/* Movies */

.featuring-movies {
  background-image: linear-gradient(to top, rgb(252, 2, 2), black);
  height: 50vh;
  padding: 5px;
}

.featuring-movies h1 {
  text-align: center;
  color: rgb(197, 189, 189);
  margin: 10px;
}

.featuring-movies-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-cards {
  width: 10%;
  margin: 10px;
  border: none;
  text-align: center;
  background-image: linear-gradient(45deg, rgb(252, 2, 2), black);
  transition: all 0.3s ease;
}
.movie-cards h4 {
  color: white;
}
.movie-cards:hover {
  transform: translateY(-8px);
}

.movie-cards button {
  margin: 10px;
  padding: 5px 10px;
  background-image: linear-gradient(45deg, black, rgb(240, 82, 82));
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.movie-cards button:hover {
  background-image: linear-gradient(45deg, black, rgb(252, 2, 2));
  transform: scale(1.1);
}

.movie-cards img {
  width: 100%;
  height: 200px;
}

/* Tv Series */
.featuring-Tv-Series {
  background-image: linear-gradient(to top, black, rgb(252, 2, 2));
  height: 50vh;
  padding: 5px;
}

.featuring-Tv-Series h1 {
  text-align: center;
  color: rgb(253, 252, 252);
  margin: 10px;
}

/* Anime */
.featuring-Anime {
  background-image: linear-gradient(to top, rgb(252, 2, 2), black);
  height: 50vh;
  padding: 5px;
}
.featuring-Anime h1 {
  text-align: center;
  color: rgb(253, 252, 252);
  margin: 10px;
}

/* Feature Section */
.features {
  background-image: linear-gradient(
    to left,
    black,
    rgb(252, 2, 2),
    rgb(252, 2, 2),
    rgb(252, 2, 2)
  );
  height: 50vh;
  padding: 5px;
  justify-content: start;
  align-items: center;
  display: flex;
}
.feature-sentence {
  width: 35%;
  padding: 20px;
  margin: 15px;
}
.feature-sentence h1 {
  color: white;
  margin-bottom: 10px;
}
.feature-sentence input {
  width: 70%;
  height: 45px;
  padding: 10px;
  background-color: rgb(252, 74, 74);
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}
.feature-sentence input::placeholder {
  color: white;
}

.feature-sentence button {
  height: 45px;
  padding: 8px 16px;
  background-color: #222;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}
.feature-sentence button:hover {
  background-color: #030303;
  transform: scale(1.1);
}

/* Footer Section */

footer {
  height: 50vh;
  padding: 5px;
  background-color: #030303;
  display: flex;
  align-items: center;
  gap: 60px;
}

.logo-lang {
  padding: 8px;
  margin: 6px;
  margin-left: 50px;
  width: 20%;
}

.logo-lang h2 {
  color: red;
}

.logo-lang p {
  color: rgb(65, 64, 64);
  margin-bottom: 10px;
}

.logo-lang select {
  padding: 10px 5px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgb(46, 45, 45);
  color: white;
  border: none;
}

/* explore-legal-support */
.explore-legal-support {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Explore footer */
.explore {
  display: flex;
  flex-direction: column;
}

.explore h6 {
  color: rgb(79, 79, 79);
  text-align: left;
  margin-bottom: 5px;
}
.explore a {
  text-decoration: underline;
  color: white;
  font-size: small;
  margin: 4px;
}

/* Legal footer */
.legal {
  display: flex;
  flex-direction: column;
}

.legal h6 {
  color: rgb(79, 79, 79);
  text-align: left;
  margin-bottom: 5px;
}
.legal a {
  text-decoration: underline;
  color: white;
  font-size: small;
  margin: 4px;
}

/* Support footer */
.support {
  display: flex;
  flex-direction: column;
}

.support h6 {
  color: rgb(79, 79, 79);
  text-align: left;
  margin-bottom: 5px;
}
.support a {
  text-decoration: underline;
  color: white;
  font-size: small;
  margin: 4px;
}
