/* Index page */

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  background-image: url("../images/st-4k.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 10px;
}

.nav-section h2 {
  transition: all 0.3s ease;
  color: red;
}
.nav-section h2:hover {
  transform: scale(1.1);
}

.nav-section nav a {
  text-decoration: none;
  color: lightgrey;
  padding: 5px;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.nav-section nav a:hover {
  color: whitesmoke;
  transform: scale(1.1);
}
.hero-content {
  height: 50px;
  width: 40%;
  padding: 40px;
  position: absolute;
  top: 45vh;
  left: 30vh;
}
.hero-content h1 {
  font-weight: 900;
}
.hero-content p {
  margin-top: 3px;
  padding: 4px;
  font-size: medium;
}

.hero-content button {
  margin-top: 10px;
  padding: 8px 19px;
  border: none;
  color: black;
  background-color: rgb(246, 244, 244);
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.hero-content button:hover {
  background-color: white;
}

.hero-content .info-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 19px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(135, 135, 135);
  border-radius: 3px;
}
.hero-content .info-btn:hover {
  background-color: rgb(68, 68, 68);
}

/* Movies */

.featuring-movies {
  background-image: linear-gradient(to top, rgb(252, 2, 2), black);
  height: 50vh;
  padding: 5px;
}

.featuring-movies h1 {
  text-align: center;
  color: rgb(197, 189, 189);
  margin: 10px;
}

.featuring-movies-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-cards {
  width: 10%;
  margin: 10px;
  border: none;
  text-align: center;
  background-image: linear-gradient(45deg, rgb(252, 2, 2), black);
  transition: all 0.3s ease;
}
.movie-cards h4 {
  color: white;
}
.movie-cards:hover {
  transform: translateY(-8px);
}

.movie-cards button {
  margin: 10px;
  padding: 5px 10px;
  background-image: linear-gradient(45deg, black, rgb(240, 82, 82));
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.movie-cards button:hover {
  background-image: linear-gradient(45deg, black, rgb(252, 2, 2));
  transform: scale(1.1);
}

.movie-cards img {
  width: 100%;
  height: 200px;
}

/* Tv Series */
.featuring-Tv-Series {
  background-image: linear-gradient(to top, black, rgb(252, 2, 2));
  height: 50vh;
  padding: 5px;
}

.featuring-Tv-Series h1 {
  text-align: center;
  color: rgb(253, 252, 252);
  margin: 10px;
}

/* Anime */
.featuring-Anime {
  background-image: linear-gradient(to top, rgb(252, 2, 2), black);
  height: 50vh;
  padding: 5px;
}
.featuring-Anime h1 {
  text-align: center;
  color: rgb(253, 252, 252);
  margin: 10px;
}

/* Feature Section */
.features {
  background-image: linear-gradient(
    to left,
    black,
    rgb(252, 2, 2),
    rgb(252, 2, 2),
    rgb(252, 2, 2)
  );
  height: 50vh;
  padding: 5px;
  justify-content: start;
  align-items: center;
  display: flex;
}
.feature-sentence {
  width: 35%;
  padding: 20px;
  margin: 15px;
}
.feature-sentence h1 {
  color: white;
  margin-bottom: 10px;
}
.feature-sentence input {
  width: 70%;
  height: 45px;
  padding: 10px;
  background-color: rgb(252, 74, 74);
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}
.feature-sentence input::placeholder {
  color: white;
}

.feature-sentence button {
  height: 45px;
  padding: 8px 16px;
  background-color: #222;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}
.feature-sentence button:hover {
  background-color: #030303;
  transform: scale(1.1);
}

/* Footer Section */

footer {
  height: 50vh;
  padding: 5px;
  background-color: #030303;
  display: flex;
  align-items: center;
  gap: 60px;
}

.logo-lang {
  padding: 8px;
  margin: 6px;
  margin-left: 50px;
  width: 20%;
}

.logo-lang h2 {
  color: red;
}

.logo-lang p {
  color: rgb(65, 64, 64);
  margin-bottom: 10px;
}

.logo-lang select {
  padding: 10px 5px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgb(46, 45, 45);
  color: white;
  border: none;
}

/* explore-legal-support */
.explore-legal-support {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Explore footer */
.explore {
  display: flex;
  flex-direction: column;
}

.explore h6 {
  color: rgb(79, 79, 79);
  text-align: left;
  margin-bottom: 5px;
}
.explore a {
  text-decoration: underline;
  color: white;
  font-size: small;
  margin: 4px;
}

/* Legal footer */
.legal {
  display: flex;
  flex-direction: column;
}

.legal h6 {
  color: rgb(79, 79, 79);
  text-align: left;
  margin-bottom: 5px;
}
.legal a {
  text-decoration: underline;
  color: white;
  font-size: small;
  margin: 4px;
}

/* Support footer */
.support {
  display: flex;
  flex-direction: column;
}

.support h6 {
  color: rgb(79, 79, 79);
  text-align: left;
  margin-bottom: 5px;
}
.support a {
  text-decoration: underline;
  color: white;
  font-size: small;
  margin: 4px;
}

/* TV-Series Page */

.hero-tv-shows {
  height: 100vh;
  background-image: url("../images/bb4k.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.tv-shows-nav-section {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 10px;
}

.tv-shows-nav-section h2 {
  transition: all 0.3s ease;
  color: red;
  transition: all 0.3s ease;
}
.tv-shows-nav-section h2:hover {
  transform: scale(1.1);
}

.tv-shows-nav-section nav a {
  text-decoration: none;
  color: rgb(56, 56, 56);
  padding: 5px;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.tv-shows-nav-section nav a:hover {
  color: rgb(7, 7, 7);
  transform: scale(1.1);
}
.hero-content-tv-shows {
  height: 50px;
  width: 40%;
  padding: 40px;
  position: absolute;
  top: 55vh;
  left: 20vh;
}
.hero-content-tv-shows h1 {
  font-weight: 900;
  color: black;
}
.hero-content-tv-shows p {
  margin-top: 3px;
  padding: 4px;
  font-size: medium;
  color: gray;
}

.hero-content-tv-shows button {
  margin-top: 10px;
  padding: 8px 19px;
  border: none;
  color: black;
  background-color: rgb(246, 244, 244);
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.hero-content-tv-shows button:hover {
  background-color: white;
}

.hero-content-tv-shows .info-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 19px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(135, 135, 135);
  border-radius: 3px;
}
.hero-content-tv-shows .info-btn:hover {
  background-color: rgb(68, 68, 68);
}

/* movies pages */

.hero-movies {
  height: 100vh;
  background-image: url("../images/enemy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.movies-nav-section {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 10px;
}

.movies-nav-section h2 {
  transition: all 0.3s ease;
  color: red;
  transition: all 0.3s ease;
}
.movies-nav-section h2:hover {
  transform: scale(1.1);
}

.movies-nav-section nav a {
  text-decoration: none;
  color: rgb(56, 56, 56);
  padding: 5px;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.movies-nav-section nav a:hover {
  color: whitesmoke;
  transform: scale(1.1);
}
.hero-content-movies {
  height: 50px;
  width: 40%;
  padding: 40px;
  position: absolute;
  top: 40vh;
  left: 20vh;
}
.hero-content-movies h1 {
  font-weight: 900;
  color: black;
}
.hero-content-movies p {
  margin-top: 3px;
  padding: 4px;
  font-size: medium;
  color: rgb(79, 79, 79);
}

.hero-content-movies button {
  margin-top: 10px;
  padding: 8px 19px;
  border: none;
  color: black;
  background-color: rgb(246, 244, 244);
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.hero-content-movies button:hover {
  background-color: white;
}

.hero-content-movies .info-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 19px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(135, 135, 135);
  border-radius: 3px;
}
.hero-content-movies .info-btn:hover {
  background-color: rgb(68, 68, 68);
}

/* pricing page */

.hero-pricing {
  background-color: #121212;
}

.pricing-nav-section {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 10px;
}

.pricing-nav-section h2 {
  transition: all 0.3s ease;
  color: red;
  transition: all 0.3s ease;
}
.pricing-nav-section h2:hover {
  transform: scale(1.1);
}

.pricing-nav-section nav a {
  text-decoration: none;
  color: lightgrey;
  padding: 5px;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.pricing-nav-section nav a:hover {
  color: whitesmoke;
  transform: scale(1.1);
}

/* summary-of-plan */
.summary-of-plan {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 32.5vh;
  background-color: #121212;
}

.plan-features h1 {
  color: white;
  margin-bottom: 10px;
}
.plan-features p {
  color: gray;
  margin-top: 5px;
}

.gift-box {
  height: 25%;
  width: 17%;
  background-color: rgb(35, 35, 35);
  color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 7px;
}

.gift-box img {
  height: 50px;
  width: 50px;
}

/* pricing-table */

.pricing-table-info {
  width: 100%;
  background-color: #121212;
  height: 70vh;
}
.pricing-table table {
  width: 55%;
  margin: auto;
  border-collapse: collapse;
  background-color: #121212;
  text-align: center;
  margin-bottom: 10px;
}

.pricing-table table p {
  border: 1px solid red;
  color: white;
  width: 75% !important;
  padding: 3px 4px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.pricing-table table td,
.pricing-table table th {
  padding: 15px 10px;
  text-align: center;
  vertical-align: middle;
}

.pricing-table table tr:nth-child(5) {
  color: white;
}

.pricing-table table td:nth-child(1) {
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 6px;
}

.pricing-table-info table button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.pricing-table-info table button:hover {
  transform: scale(1.2);
}

.pricing-table-info table th:nth-child(1) {
  color: red;
}
.pricing-table-info table th:nth-child(2) {
  color: rgb(114, 113, 113);
  font-weight: 400;
}
.pricing-table-info table th:nth-child(2) h3 {
  color: rgb(249, 248, 248);
}

.pricing-table-info table th:nth-child(3) {
  color: rgb(114, 113, 113);
  font-weight: 400;
}

.pricing-table-info table th:nth-child(3) h3 {
  color: rgb(249, 248, 248);
}

.pricing-table-info table th:nth-child(4) {
  color: rgb(114, 113, 113);
  font-weight: 400;
}
.pricing-table-info table th:nth-child(4) h3 {
  color: rgb(249, 248, 248);
}

/* Login page */
.hero-login-main {
  background: #000;
  height: 100vh;
}

.hero-login {
  position: relative;
  height: 100vh;
  z-index: 1;
}

/* background layer */
.hero-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.5;
  z-index: -1;
}

.hero-login h1 a {
  color: red;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 1.2cm;
  text-align: left;
}

.hero-login h1 a:hover {
  transform: scale(1.1);
}

/* login card */

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  padding: 60px;
  width: 450px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
  height: 75vh;
}

.form-div {
  position: relative;
  height: 36vh;
}

.form-div h1 {
  padding: 2px;
  margin-bottom: 10px;
  color: white;
}

.form-div form input {
  padding: 15px 10px;
  width: 100%;
  margin-top: 15px;
  background-color: #333;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
}

.form-div form input::placeholder {
  color: #b3b3b3;
}

.form-div form button {
  padding: 15px 10px;
  width: 100%;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 40px;
}
.form-div form button:hover {
  background-color: rgb(178, 6, 6);
}

.form-div form input[type="checkbox"] {
  width: 20px;
}

.form-div form p {
  display: inline;
  color: #b3b3b3;
}

.form-div form span {
  position: absolute;
  left: 72%;
  margin-top: 10px;
  color: #b3b3b3;
  cursor: pointer;
}
.form-div form span:hover {
  text-decoration: underline #b3b3b3;
}

.login p {
  color: #b3b3b3;
  display: block;
  margin-top: 90px;
  font-size: large;
}

.login a {
  font-size: large;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 75.3%;
  left: 47%;
}
.login a:hover {
  text-decoration: underline;
}

.login small {
  display: block;
  color: #b3b3b3;
  margin-top: 30px;
}
.login small a.learn-more {
  color: #0071eb;
  text-decoration: none;
  position: absolute;
  top: 88%;
  left: 35%;
  font-size: medium;
}

.login small a.learn-more:hover {
  text-decoration: underline;
}
